<form name="{{ .Title | lower }}-submission"{{ if .Params.formspree_form_id }} action="https://formspree.io/{{ .Params.formspree_form_id }}" {{ else if .Params.formspark_form_id }} action="https://api.alinpanaitiu.com/contact/{{ .Params.formspark_form_id }}" {{ end }} accept-charset="utf-8">
  <fieldset id="{{ .Title | lower }}-inputs">
    <legend>{{ .Params.Name }}</legend>
    <label for="full-name">Full Name</label>
    <input type="text" name="name" id="full-name" placeholder="First and Last" required>
    <label for="email-address">Email address</label>
    <input type="email" {{ if .Params.formspree_form_id }} name="_replyto" {{ else if .Params.formspark_form_id }} name="email" {{ end }} id="email-address" placeholder="your@email.here" required>
    <label for="subject">Subject</label>
    <input type="text" {{ if .Params.formspree_form_id }} name="_subject" {{ else if .Params.formspark_form_id }} name="subject" {{ end }} id="subject" placeholder="What's this message about?" required>
    <label for="message">Message</label>
    <textarea rows="6" name="message" id="message" placeholder="your message here" required></textarea>
    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
      <div class="cf-turnstile" data-sitekey="0x4AAAAAAAUzgCFl9mVsEtLl"></div>
      <input type="submit" style="margin-bottom: 0;" value="{{ if .Params.submit_button_label }}{{ .Params.submit_button_label }}{{ end }}">
    </div>
  </fieldset>
</form>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
