{{ define "main" }}
    {{ with .Params }}
    <style>
    .personal-image-container {
        position: relative;
        height: fit-content;
        width: fit-content;
    }

    .personal-image-container .personal-image {
        max-width: unset;
    }
    .personal-image-container .overlay {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    a {
        text-decoration: none;
        color: #FF2C49;
    }
    #resume-page-container {
        grid-column: 1 / -1;
    }
    #resume-page {
        max-width: 28cm;
    }
    html, body {
        max-width: 100vw;
    }
    @media (max-width: 60em) {
        #avatar {
            padding-left: 5%;
            padding-right: 5%;
        }
    }
    #personal-image {
        object-fit: cover;
        object-position: top;
    }
    </style>
    <div class="mv5-l" id="resume-page-container">
        <div class="center bg-white-70 pa3 pa6-l br2 shadow-4" id="resume-page">
            <div class="flex flex-column flex-row-m flex-row-l items-center justify-around" id="avatar">
                <div class="personal-image-container">
                    {{ partial "img.html" (dict "src" .image.url "alt" "Personal image" "sizes" "(min-width: 60em) 130px, 80px" "class" "h3 w3 h4-l w4-l br4 personal-image" "id" "personal-image" "imgSizes" $.Site.Params.imgSizes) }}
                    <div class="br4 o-40 overlay"
                        style="background: linear-gradient(210deg, {{ .image.topcolor | safeCSS }} 50%, {{ .image.bottomcolor | safeCSS }});"></div>
                </div>
                <div class="ml4-m ml4-l" id="personal-info">
                    <h1 class="f-headline f3 f2-m f1-l mb0 tracked-tight" id="personal-name">{{ .name }}</h1>
                    <h2 class="f-subheadline f5 f4-m f3-l mt0 fw3" id="personal-position">{{ .profession }}</h2>
                </div>
                <a class="bg-black white bg-animate hover-bg-dark-mauve pa3 br2 ml-auto-m ml-auto-l" href="{{ .pdf | absURL }}" download="{{ printf "Resume of %s.pdf" .name }}">Download</a>
            </div>
            <div class="flex flex-column flex-row-m flex-row-l justify-between justify-around-m container" id="personal">
                <main id="personal-content">
                    <section id="profile" class="mt5">
                        <h2 class="avenir pale-blue tracked ttl small-caps ">
                            <span class="nl4-l section-icon">{{ partial "icons/user.svg" (dict "size" "18") }}</span> Profile
                        </h2>
                        <div class="lh-copy measure measure-narrow-m section-content">
                            {{ .description | markdownify }}
                        </div>
                    </section>
                    <section id="education" class="mt5">
                        <h2 class="avenir pale-blue tracked ttl small-caps ">
                            <span class="nl4-l section-icon">{{ partial "icons/feather.svg" (dict "size" "18") }}</span> Education
                        </h2>
                        {{ range .education }}
                            <div class="section-content" style="break-inside: avoid;">
                                <h3 class="mb0 f4 tracked-tight f-subheadline institution">{{ .institution }}</h3>
                                <h4 class="fw4 gray mt1 mb2">{{ .location }}</h4>
                                <h5 class="fw4 silver mt1">{{ .startdate }}&nbsp;&nbsp;–&nbsp;&nbsp;{{ .enddate }}</h5>
                                <div class="lh-copy measure measure-narrow-m">{{ .description }}</div>
                            </div>
                        {{ end }}
                    </section>
                    <section id="personal-projects" class="mt5">
                        <h2 class="avenir pale-blue tracked ttl small-caps">
                            <span class="nl4-l section-icon">{{ partial "icons/git-pull-request.svg" (dict "size" "18") }}</span> Personal Projects
                        </h2>
                        {{ range .projects }}
                            <div class="section-content" style="break-inside: avoid;">
                                <h3 class="mb0 mt2 flex items-center f3 tracked-tight f-subheadline">
                                    <span>
                                        {{ partial "img.html" (dict "src" (printf "/images/logo/%s.png" (.name | lower)) "alt" (printf "%s logo" .name) "sizes" "32px" "class" "mr2 w2" "imgSizes" (after 4 $.Site.Params.imgSizes)) }}
                                    </span>
                                    {{ .name }}
                                </h3>
                                <h4 class="fw4 gray mt1 mb2">{{ .attributions }}</h4>
                                <h5 class="fw4 silver mt1 mb2">{{ .startdate }}&nbsp;&nbsp;–&nbsp;&nbsp;{{ .enddate }}</h5>
                                <div class="lh-copy measure measure-narrow-m">
                                    <div class="flex flex-wrap mt1 mb3 links">
                                      {{ range first (sub (len .links) 1) .links }}
                                        <a href="{{ .url }}">{{ .domain }}</a>
                                        <div class="mh2 black-20">|</div>
                                      {{ end }}
                                      {{ range last 1 .links }}
                                        <a href="{{ .url }}">{{ .domain }}</a>
                                      {{ end }}
                                    </div>
                                    {{ .description | markdownify }}
                                    <h4 class="f5 f-subheadline">Stack:
                                        {{ range first (sub (len .stack) 1) .stack }}
                                            <span class="fw4">{{ . }}</span>
                                            <span class="fw3"> | </span>
                                        {{ end }}
                                        {{ range last 1 .stack }}
                                            <span class="fw4">{{ . }}</span>
                                        {{ end }}
                                    </h4>
                                </div>
                            </div>
                        {{ end }}
                    </section>
                </main>
                <aside class="nr4-l" id="personal-aside">
                    <section>
                        <h1 class="f-headline f4 fw5">Details</h1>
                        <div class="lh-copy mid-gray">
                            <p>
                                <div>{{ .location }}</div>
                                <div>{{ .phone }}</div>
                                <a href="mailto:{{ .email }}">{{ .email }}</a>
                            </p>
                            <p>
                                <div class="silver fw5">Date / Place of birth</div>
                                <div>{{ .birthdate }}</div>
                                <div>{{ .birthplace }}</div>
                            </p>
                            <p>
                                <div class="silver fw5">Nationality</div>
                                <div>{{ .nationality }}</div>
                            </p>
                        </div>
                    </section>
                    <section class="links">
                        <h1 class="f-headline f4 fw5">Links</h1>
                        <p>
                            {{ range .links }}
                                <div class="mb1">
                                    {{ $icon := replace (.domain | lower | printf "icons/%s.svg") " " "" }}
                                    <span class="mr1" style="filter: saturate(0.5);">{{ partial $icon (dict "size" "16" "color" (.color | safeCSS)) }}</span>
                                    <a href="{{ .url }}" target="_blank">{{ .domain }}</a>
                                </div>
                            {{ end }}
                        </p>
                    </section>
                    <section>
                        <h1 class="f-headline f4 fw5">Skills</h1>
                        <div class="lh-copy mid-gray">
                            {{ range .skills }}
                                <p>
                                    <div class="dark-gray fw5">{{ .name }}</div>
                                    <div class="progress bg-light-gray br4" style="height: 4px;">
                                        <div class="br4 bg-red" style="height: 4px; width: {{ .level }}%;"></div>
                                    </div>
                                </p>
                            {{ end }}
                        </div>
                    </section>
                    <section>
                        <h1 class="f-headline f4 fw5">Languages</h1>
                        <div class="lh-copy mid-gray">
                            {{ range .languages }}
                                <p>
                                    <div class="dark-gray fw5">{{ .name }}</div>
                                    <div class="progress bg-light-gray br4" style="height: 4px;">
                                        <div class="br4 bg-red" style="height: 4px; width: {{ .level }}%;"></div>
                                    </div>
                                </p>
                            {{ end }}
                        </div>
                    </section>
                </aside>
            </div>
            <div class="flex justify-between container" style="page-break-before: always;" id="employment">
                <section class="w-100">
                    <h2 class="avenir pale-blue tracked ttl small-caps mt5 mb2">
                        <span class="nl4-l section-icon">{{ partial "icons/briefcase.svg" (dict "size" "18") }}</span> Employment History
                    </h2>
                    {{ range .jobs }}
                        <div class="flex flex-column flex-row-l flex-row-m mv4 justify-between justify-around-m items-center w-100 section-content" style="break-inside: avoid;">
                            <div>
                                <h3 class="mb0 f4 tracked-tight f-subheadline">{{ .position }} at {{ .company }}</h3>
                                <h4 class="fw4 gray mt1 mb2">{{ .location }}</h4>
                                <h5 class="fw4 silver mt1 mb1 pb0">{{ .startdate }}&nbsp;&nbsp;–&nbsp;&nbsp;{{ .enddate }}</h5>
                                <div class="lh-copy measure measure-narrow-m mt0">
                                    <strong class="links"><a href="{{ .url }}">{{ .domain }}</a></strong>
                                    <h4 class="dark-mauve mt3 mb0 pb0">Projects:</h4>
                                    {{ .story | markdownify }}
                                </div>
                            </div>
                            <section class="job-stack" style="text-align: center">
                                {{ if .logo | path.Ext | eq ".svg" }}
                                    <img src="/images/logo/{{ .logo }}" alt="{{ .company }} logo" width="190px">
                                {{ else }}
                                    {{ partial "img.html" (dict "src" (printf "/images/logo/%s" .logo) "alt" (printf "%s logo" .company) "sizes" "190px" "imgSizes" (after 4 $.Site.Params.imgSizes)) }}
                                {{ end }}
                                <h1 class="f-headline f4 fw5" style="text-align: left">Stack</h1>
                                <div class="lh-copy mid-gray" style="text-align: left">
                                    {{ range .stack }}
                                        <p>
                                            <div class="dark-gray fw5">{{ .name }}</div>
                                            <div class="progress bg-light-gray br4" style="height: 4px;">
                                                <div class="br4 bg-red" style="height: 4px; width: {{ .level }}%;"></div>
                                            </div>
                                        </p>
                                    {{ end }}
                                </div>
                            </section>
                        </div>
                    {{ end }}
                </section>
            </div>
        </div>
    </div>
    {{ end }}
{{ end }}