@import blog-dark
@import article-shared

h2
    color: $light-red

strong
    color: $gold

a
    text-decoration: underline !important
    transition: color .2s ease-out

img
    filter: drop-shadow(0px 3px 1rem #000)

video
    box-shadow: 0px 3px 1rem rgba(0, 0, 0, 1.0)
