@import blog

$hr-color: $lunar-yellow
@import article-shared

h2
    color: $light-red

strong
    color: $red

em
    color: $gray-mauve

@import _highlight

code
    background-color: $bg !important
    color: $fg !important
