h1
    max-width: 55rem !important

li
    margin-bottom: .3rem

h1, h2, h3, h4, h5, h6
    position: relative
    a.link
        position: absolute
        opacity: 0.2

        &:hover
            opacity: 1
h1 a.link
    left: -2rem
h2 a.link
    left: -1.8rem
h3 a.link
    left: -1.3rem
h4 a.link
    left: -1rem
h5 a.link
    left: -1rem
h6 a.link
    left: -1rem

em
    font-size: 1rem

pre, code
    font-family: 'Fira Code', Menlo, Monaco, monospace
    font-size: 1rem
    @media (max-width: 640px)
        font-size: .75rem
    max-height: 40vh

.highlight
    overflow-x: auto

code
    border-radius: 6px
    padding: 2px 6px

.highlight code
    padding: 0
    border-radius: 0

hr
    border-width: 0 0 1px
    color: $hr-color
    border-image: linear-gradient(90deg, rgba($hr-color, 0), rgba($hr-color, 1) 50%, rgba($hr-color, 0) 100%) 0 0 100%
    border-style: solid

.post-body hr
    margin-top: 4rem
    margin-bottom: 4rem

ul
    font-weight: 500

@media screen and (max-width: 30em)
    dark-mode-toggle
        position: absolute
        top: 10px
        right: 0
        z-index: 100

li img
    border-radius: 0
    filter: none
    margin: 0
    padding: 0
    display: inline
    object-fit: cover
    margin-right: 2px
    height: 1.1rem
    vertical-align: text-bottom

