@import _variables

$light-bg-color: $yellowed-white
$dark-bg-color: desaturate($dark-mauve, 20%)

body
    background-color: $light-bg-color

a
    text-decoration: none !important


@media (prefers-color-scheme: dark)
    body
        color: $near-white
        background-color: darken($dark-bg-color, 15%)


    h1, h2, h3, h4, h5, h6
        color: $yellowed-white

    a
        color: #ff7c1d !important


    .site-brand,
    .site-links a,
    .site-header .social-icon-links a,
    .site-footer .social-icon-links a 
        color: $near-white !important
        font-weight: 500


    .blog-title 
        letter-spacing: 0


    #blog-logo 
        filter: saturate(1.6)

        & #pcb-logo-border 
            stroke: $washed-gold
        
    #logo-border 
        fill: $washed-gold


    .link:focus,
    form :focus[type=button],
    form :focus[type=reset],
    form :focus[type=submit],
    .home .action.button:focus,
    .home .action.text:focus
        background-color: $white
        color: $black !important
