@page
    padding: 10mm
    width: 210mm
    height: 297mm
    margin-top: 25mm

@page :first
    margin-top: 0

body
    padding: 10mm

.measure
    max-width: 26em

.section-content
    margin-left: -1em

.section-icon
    margin-left: -2rem

html, body
    width: 297mm
    background-color: white

header
    display: none

.resume
    width: 100%

#resume-page-container
    margin: 0

#resume-page
    box-shadow: none

.links
    display: none

#resume-page
    max-width: 28cm
    padding: 0

a
    text-decoration: none !important
    color: #FF2C49 !important

#personal-content section
    margin-top: 8mm


.tracked-tight
    letter-spacing: 0

#download-button
    opacity: 0
    width: 10px

.container
    margin-left: 8mm

.section-left
    width: 60%

#personal-aside, .job-stack
    width: 80mm
