{{ $src := .Get "src" }}
{{ $sizes := .Get "sizes" }}
{{ $imgSizes := default $.Site.Params.imgSizesMedium (.Get "imgSizes") }}
{{ $webp := default true (.Get "webp") }}
{{ $alt := .Get "alt" }}
{{ $class := .Get "class" }}
{{ $id := .Get "id" }}

{{ $ext := path.Ext $src }}
{{ $name := replace $src $ext "" }}
<picture>
  {{ if $imgSizes }}
    {{ $paths := (apply $imgSizes "printf" "/images/%s/%d_%s %dw" $name "." $src "." ) }}
    {{ $srcset := delimit $paths "," }}
    {{ if $webp }}
      <source
        {{ with $sizes }}sizes="{{ . }}"{{ end }}
        srcset="{{ replace $srcset $ext ".webp" }}"
        type="image/webp">
    {{ end }}
    <source
      {{ with $sizes }}sizes="{{ . }}"{{ end }}
      srcset="{{ $srcset }}">
  {{ else }}
    {{ if $webp }}
      <source
        {{ with $sizes }}sizes="{{ . }}"{{ end }}
        src="/images/{{ $name }}/{{ replace $src $ext ".webp" }}"
        type="image/webp">
    {{ end }}
    <source
      {{ with $sizes }}sizes="{{ . }}"{{ end }}
      src="/images/{{ $name }}/{{ $src }}">
  {{ end }}
  <img
    {{ with $src }}src="/images/{{ $name }}/{{ . }}"{{ end }}
    {{ with $alt }}alt="{{ . }}"{{ end }}
    {{ with $class }}class="{{ . }}"{{ end }}
    {{ with $id }}id="{{ . }}"{{ end }}
  >
</picture>
